@font-face {
  font-family: mabry;
  src: url(Mabry-Pro-Medium.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-y: scroll;
  background-color: #f5f5f5f5;
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
  max-width: 100vw;
}

h1 {
  font-size: 4rem;
  text-decoration-color: #000;
  font-family: mabry;
}

h2 {
  font-family: mabry;
}

button {
  border: solid 2px;
  border-radius: 5px;
  font-size: 2rem;
  padding: 0.2em 0.5em;
  background-color: greenyellow;
  transition: all ease-in 100ms;
  width: fit-content;
  cursor: pointer;
  font-family: mabry;
  color: #000;
  transition: all 500ms ease;
}

button:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.1);
}

/* Navigation */

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100vw;
  border-bottom: solid #000 3px;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  margin: 0;
}

.navigation li {
  list-style: none;
}
.navigation ul li a {
  margin: 0 1rem;
  color: #fff;
  cursor: pointer;
}

/* Hero */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-left: 10%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  font-size: 8rem;
  margin-bottom: 3rem;
  font-family: "Inter", sans-serif;
}

.text1,
.text2,
.text3 {
  animation: moveUp linear 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: mabry;
}

.text2 {
  animation: moveUp linear 1000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.text3 {
  animation: moveUp linear 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: "Inter";
}

@keyframes moveUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* About */
.about-aside {
  display: flex;
  flex-direction: column;
}

.details-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.description {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.description p {
  width: 70%;
  font-family: "Inter";
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5rem;
}
.about-text h1 {
  font-size: 5rem;
  margin: 0;
}

.skills-container {
  display: flex;
  flex-flow: row wrap;
  padding-right: 5em;
}

.skills-container div {
  background-color: #adff2f;
  color: #000;
  border: solid 2px;
  padding: 0.2em 0.5em;
  margin: 0.6em;
  border-radius: 5px;
  font-family: mabry;
  font-size: 1.2rem;
}

/* Projects */

.projects,
.contact {
  margin: 0 5%;
}

.projects h1 {
  margin: 0;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.project-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
}
.project {
  background-color: #fff;
  height: fit-content;
  max-width: 600px;
  min-width: 300px;
  border: solid #000 2px;
  margin: 20px;
  transition: transform ease-in-out 200ms;
}

.project:hover {
  transform: scale(1.05);
}

.project p {
  font-family: "Inter";
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5rem;
}
.project h2 {
  margin: 0;
  padding: 0.5em 1em;
  color: #000;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tools div {
  background-color: rgb(255, 157, 0);
  margin: 0.2em 0.2em;
  padding: 0.3em 0.5em;
  border: solid #000 3px;
  border-radius: 5px;
  font-size: 1rem;
}
/* Footer */
footer {
  background-color: #000;
  color: #fff;
  font-family: "Inter";
  border-top: solid #000 3px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 1em;
  margin-top: 5rem;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
}

a {
  text-decoration: none;
  color: #fff;
}

.socials div span {
  transition: text-decoration-color ease-in 200ms;
}

/* Contact */

.contact h1 {
  margin-bottom: 20px;
}

.contact a {
  font-family: Arial;
  color: #0072c6;
  padding-bottom: 5px;
}

.contact div {
  font-size: 1.5rem;
  font-family: "Inter";
}
.details-layout a {
  font-family: Arial;
  text-decoration: underline;
  transition: text-decoration-color ease-in 200ms;
  color: #0072c6;
}

.details-layout div div {
  background-color: #adff2f !important;
  color: #000 !important;
  border: solid 2px !important;
  padding: 0.2em 0.5em !important;
  margin: 0.6em !important;
  border-radius: 5px !important;
  font-family: mabry !important;
  font-size: 1.2rem !important;
  box-shadow: none !important;
}

.details-layout p, .details-layout ul li {
  font-family: "Inter";
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5rem;
}

.contact a:hover,
.details-layout a:hover {
  text-decoration-color: #0072c6;
}

@media screen and (min-width: 2560px) {
  .text1,
  .text3 {
    font-size: 5rem !important;
  }

  .text2 {
    font-size: 15rem;
  }

  button {
    font-size: 4rem;
    font-family: "Bebas Neue";
  }

  .navigation ul li a {
    font-size: 3rem;
  }

  .about-aside img {
    height: 400px !important;
  }

  h1 {
    font-size: 7rem !important;
  }

  .skills-container div {
    font-size: 2rem;
  }

  .description p {
    font-size: 2rem;
  }

  .project h2 {
    font-size: 2.8rem;
  }

  .project-layout img {
    max-width: 500px !important;
  }

  .project {
    max-width: 800px;
  }

  footer {
    font-size: 2rem;
  }

  .project-details-container img {
    max-width: 800px !important;
  }

  .details-layout h2 {
    font-size: 3rem;
  }

  .details-layout {
    font-size: 2rem;
  }

  .contact div {
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .description p {
    width: 100%;
    padding-right: 50px;
  }

  .project-details-container img {
    width: 322px !important;
  }
}
@media screen and (max-width: 425px) {
  h1 {
    text-align: center;
    margin-bottom: 2rem !important;
  }
  .hero-section {
    padding: 0 1em;
  }
  .text1,
  .text3 {
    font-size: 1.5rem !important;
  }
  .text2 {
    font-size: 5rem;
  }

  .hero-section a {
    display: flex;
    justify-content: center;
  }

  .details-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  .description p {
    padding: 0 1.2em;
  }

  .about img {
    margin-bottom: 3em;
  }
  .skills-container {
    padding: 0;
  }

  .skills-container div {
    margin: 8px;
  }

  .project-layout img {
    width: 300px;
  }

  .socials {
    align-items: flex-end;
  }

  footer {
    font-size: 1rem;
    padding-right: 0;
  }

  footer div{
    display: flex;
  }

  .contact div {
    font-size: 1.5rem;
  }

  .project-details {
    padding: 0 2em !important;
  }
  .project-details-container {
    display: flex !important;
    flex-direction: column !important;
  }

  .project-details-container img {
    align-self: center;
  }
  .project-details h1 {
    margin: 20px 0 0 0;
    font-size: 3rem;
    text-align: center;
  }

  .navigation ul li a {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 375px) {
  .project-layout img {
    width: 250px !important;
  }
}
@media screen and (max-width: 320px) {
  .project {
    width: 300px;
  }

  .contact div {
    font-size: 1.2rem;
  }
}
